.container {
    max-width: 960px;
}

.nav-bar {
background-color: rgba(0, 0, 0, .60);
-webkit-backdrop-filter: saturate(120%) blur(10px);
backdrop-filter: saturate(120%) blur(10px);
}

.nav-bar a {
    color: ghostwhite;
    transition: color .10s ease-in-out;
    text-decoration: none;
}

.nav-bar a:hover {
    color:cornsilk;
    text-decoration: none;
}